.logo-container {
  transition: all 500ms ease;
}

.logo-container.mounted {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
}

.logo-svg {
  opacity: 0;
  transition: all 350ms 150ms ease;
  transform: translate(0px, -20px);
}

.logo-svg.mounted {
  opacity: 1;
  transform: none;
}
